<div class="container" fxLayout="wrap row" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <mat-card>
    <button mat-button class="full" (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-card>
  <mat-card *ngFor="let entry of entries">
    <mat-card-header>
      <div mat-card-avatar>
        <mat-icon>face</mat-icon>
      </div>
      <mat-card-title>{{entry.name}}</mat-card-title>
      <mat-card-subtitle>{{entry.userId}}</mat-card-subtitle>
    </mat-card-header>
    <img *ngIf="entry.img" mat-card-image src="{{entry.img}}">
    <mat-icon *ngIf="!entry.img" class="full-icon" color="primary">image</mat-icon>
    <mat-card-content *ngIf="entry.description">
      {{entry.description}}
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-button (click)="delete(entry)">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-button (click)="edit(entry)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button (click)="vote(entry)">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
